{{ $currentPath := .URLPath.URL }}
{{ $baseUrl := .Site.BaseURL }}

<header id="main-header">
  <a href="{{ $baseUrl }}">
    <span class="td-brand">T+D coffee sessions</span>
  </a>

  <nav class="horizontal-nav">
    <ul class="horizontal-nav-list">
      <li class="{{ if eq $currentPath "/" }}active{{ end }}">
        <a href="{{ $baseUrl }}">sessions</a>
      </li>

      <li class="{{ if eq $currentPath ("/page/rules") }}active{{ end }}">
        <a href="{{ $baseUrl }}/page/rules">rules</a>
      </li>
    </ul>
  </nav>
</header>
